
@{
    ViewBag.Title = "Index";
}

<div class="container center-block text-center">
    <span class="label label-default">Asp.Net Mvc</span><br />
    <span class="label label-primary">Html5-Css3-Bootstrap-JQuery-JavaScript</span><br />
    <span class="label label-success">Sql Server</span><br />
    <span class="label label-info">Entity Framework - Db First</span><br />
    <span class="label label-warning">Repository Pattern - Unit Of Work</span><br />
    <span class="label label-danger">AutoMapper</span><br />
    <span class="label label-default">Ninject</span><br />
    <span class="label label-primary">Elmah</span><br />
</div>